<div class="container" data-aos="fade-up">
    <div class="row">
        <div class="col-lg-6">
            <h2>Kettlebell Experience</h2>
            <h4>“Използвайте тези техники и пудовката ще Ви стане много по-лека"</h4>
            <p>
                Всяко изкуство има своите тайни. Тънки моменти известни само на най-посветените. Без тези детайли практиката би била непълноценна и не би могла да достигне високи нива.
                Както казва Сергей Руднев ЗМС (заслужил майстор на спорта) треньор на националният отбор на Русия по Гиревой Спорт и мой личен треньор:
                <strong>“Използвайте тези техники и пудовката ще Ви стане много по-лека"</strong>
            </p>
            <p>
                Пудовките са тренировъчни тежести, които са изработени от чугун или стомана. Използват се за много упражнения предимно с балистичен характер, развиващи кардио респираторните възможности на организма. Съществува и състезателна дисциплина за вдигане на пудовки, наречена Гиревой спорт.
                <br><br>
                За разлика от дъмбелите пудовките имат изместен център на тежестта, което позволява с тях да се изпълняват множество махови упражнения или такива с балистичен характер. Уникалната форма на пудовката зависи от дебелината и широчината на дръжката, както и от диаметъра и височината на тялото.
                <br><br>
                По предназначение упражненията с пудовки изграждат сила и издръжливост в долната част на гърба, краката и рамената, както и значително повишават силата на хвата и китката. Базовите движения като мах, изхвърляне и изтласкване по дългия цикъл тренират цялото тяло по начин подобен на движенията от ежедневието.
                <br><br>
                За разлика от упражненията с дъмбели или щанги тренировката с пудовки включва множество повторения и може да тренира цялото тяло едновременно. Упражненията може да се повтарят няколко минути в рамките на една серия. Това я прави отчасти аеробна и по-скоро близка до високо интензивна интервална тренировка за цялото тяло, отколкото до традиционна силова тренировка.
                <br><br>
                Както всички упражнения със свободни тежести, тренировките с пудовки могат да бъдат опасни и да доведат до травми и контузии. Затова е необходимо подходящо обучение и прогресивно натоварване. При правилна употреба и подходяща техника упражненията с пудовки могат да бъдат много полезни за здравето.
                Те подобряват мобилността, увеличават обхвата на движенията, подобряват координацията, кардио респираторните възможности на организма и повишават цялостната сила и здравина на костите и мускулите.
            </p>
        </div>
        <div class="col-lg-3">
            <h3>Къде</h3>
            <p>Витоша Парк Хотел е домакин на семинара. Част от събитието ще се проведе в парка пред хотела.</p>
        </div>
        <div class="col-lg-3">
            <h3>Кога</h3>
            <p>Събота и Неделя<br> 31 Октомври - 01 Ноември 2020 г.</p>
        </div>
    </div>
</div>
