<div class="container" data-aos="fade-up">

    {{ $sectionName := "about" }}
    {{ $aboutPage := (.Site.GetPage $sectionName) }}

    <div class="row">
        <div class="col-lg-6">
            <h2>{{ $aboutPage.Title }}</h2>
            <h4>{{ $aboutPage.Summary }}</h4>
            <p>{{ $aboutPage.Content }}</p>
        </div>

        {{ $where := $aboutPage.Params.where }}
        <div class="col-lg-3">
            <h3>{{ $where.title }}</h3>
            <p>{{ $where.content }}</p>
        </div>

        {{ $when := $aboutPage.Params.when }}
        <div class="col-lg-3">
            <h3>{{ $when.title }}</h3>
            <p>{{ replace $when.content "\\n" "<br/>" | safeHTML }}</p>
        </div>
    </div>
</div>
