<div class="intro-container" data-aos="zoom-in" data-aos-delay="100">

    {{ $sectionName := "intro" }}
    {{ $currentPage := (.Site.GetPage $sectionName) }}
    <h1 class="mb-4 pb-0">{{ $currentPage.Title | safeHTML }}</h1>
    <p class="mb-4 pb-0">{{ $currentPage.Content | safeHTML }}</p>

    <a href="{{ $currentPage.Params.videoUrl }}" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
    {{ with $currentPage.Params.aboutButton }}
        <a href="{{ .href }}" class="about-btn scrollto">{{ .label }}</a>
    {{ end }}
</div>
