<div class="container" data-aos="fade-up">

    {{ $sectionName := "trainers" }}
    {{ $currentPage := (.Site.GetPage $sectionName) }}

    {{ with $currentPage }}
        {{ partial "shared/section-header" . }}
    {{ end}}

    {{ $sectionPages := (where .Site.RegularPages.ByTitle "Section" $sectionName) }}
    {{ $sortBy := ".Params.weight" }}
    <div class="row">
        {{ range sort $sectionPages $sortBy "asc" }}
        <div class="col-lg-4 col-md-6">
            <div class="speaker" data-aos="fade-up" data-aos-delay="100">
                <a href="{{ .Permalink }}">
                    {{ with .Params.avatarImage }}
                    <img src="{{ .src }}" alt="{{ .alt }}" class="img-fluid">
                    {{ end }}
                </a>
                <div class="details">
                    <h3><a href="{{ .Permalink }}">{{ .Title | humanize | title }}</a></h3>
                    <p>{{ .Summary }}</p>
                    <div class="social">
                        {{ $social := .Page.Params.social }}
                        {{ .Scratch.Set "social" $social }}
                        {{ .Scratch.Set "useSquareIcons" true }}
                        {{ partial "shared/social-links.html" . }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>
