<nav id="nav-menu-container">
    <ul class="nav-menu">

        {{ $thisPage := . }}
        {{ range .Site.Menus.main }}
            {{ $active := or ($thisPage.IsMenuCurrent "main" .) ($thisPage.HasMenuCurrent "main" .) }}
            {{ with .Page }}
                {{ $active = or $active ( $.IsDescendant .)  }}
            {{ end }}
            {{ $url := urls.Parse .URL }}
            {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
            <li class="{{if $active }}active{{end}}">
                <a href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}>
                    <span {{if $active }} class="active"{{end}}>{{ .Name }}</span>
                </a>
            </li>
        {{ end }}

    </ul>
</nav>

