<section id="intro">
    {{- partial "sections/intro.html" .  -}}
</section>

<section id="about">
    {{- partial "sections/about.html" . -}}
</section>

<section id="speakers">
    {{- partial "sections/trainers.html" . -}}
</section>

<section id="schedule" class="section-with-bg">
    {{- partial "sections/schedule.html" . -}}
</section>

<section id="venue">
    {{- partial "sections/venue.html" . -}}
</section>

<section id="gallery">
    {{- partial "sections/gallery.html" . -}}
</section>

<section id="buy-tickets" class="section-with-bg">
    {{- partial "sections/buy-tickets.html" . -}}
</section>